body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

main {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  max-width: 550px;
  border-radius: 20px;
  text-align: left;
  padding: 30px;
}

h1,
h2 {
  font-family: "Young Serif", serif;
}

h2 {
  color: hsl(14, 45%, 36%);
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 10px;
}

p,
ul,
ol,
table {
  font-family: "Outfit", serif;
  font-size: 13px;
  color: hsl(30, 10%, 34%);
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

figure {
  margin: 0;
}

img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

header h1 {
  color: hsl(24, 5%, 18%);
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 10px;
}

header p {
  line-height: 1.5;
  margin: 0;
  margin-bottom: 22px;
}

.preparation-container {
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
  padding: 5px 5px 5px 20px;
}

.preparation-container h3 {
  font-family: "Outfit", serif;
  font-size: 16px;
  font-weight: 700;
  color: hsl(332, 51%, 32%);
  margin-bottom: 0;
}

.preparation-container ul {
  padding-left: 20px;
  margin-top: 5px;
}

.preparation-container li {
  padding: 5px 15px;
}

.preparation-container li::marker {
  color: hsl(332, 51%, 32%);
  font-size: 10px;
}

.ingredients-container ul {
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

.ingredients-container li {
  padding: 5px 15px;
}

.ingredients-container li::marker {
  color: hsl(14, 45%, 36%);
  font-size: 10px;
}

.instructions-container ol {
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

.instructions-container li {
  padding: 5px 15px;
}

.instructions-container li::marker {
  color: hsl(14, 45%, 36%);
  font-family: "Outfit", serif;
  font-size: 13px;
  font-weight: 700;
}

.nutrition-container table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition-container table td {
  padding: 10px 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
}

.nutrition-container table tr:last-child td {
  border-bottom: none;
}

.nutrition-container td strong {
  color: hsl(14, 45%, 36%);
}

.attribution {
  text-align: center;
  margin-top: 30px;
  font-family: "Outfit", serif;
}
